@using System.Data;
@using System.Data.SqlClient;
@using Newtonsoft.Json;
@model IEnumerable<FiltrationPlantTableData>



<link href="~/Content/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

<script src="~/Metronic/assets/global/scripts/jquery.dataTables.min.js"></script>


<script src="~/Metronic/assets/global/scripts/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="~/Metronic/assets/global/scripts/buttons.print.min.js" type="text/javascript"></script>
<script src="~/Metronic/assets/global/scripts/buttons.html5.min.js" type="text/javascript"></script>
@*<script src="~/Metronic/assets/global/scripts/pdfmake.min.js" type="text/javascript"></script>*@
<script src="~/Metronic/assets/global/scripts/vfs_fonts.js" type="text/javascript"></script>
<script src="~/Metronic/assets/global/scripts/jszip.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        function toogleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            //chart1.render();
        }
        if (!$.fn.DataTable.isDataTable('#tubeWellTable')) {
            var table = $('#tubeWellTable').DataTable({
                "scrollX": true,
                "paging": false,
                "ordering": false,
                "info": false,
                "columnDefs": [
                    { "className": "dt-center", "targets": "_all" }
                ],
                dom: 'Bfrtip',
                buttons: [
					'print', 'csv',
                    {
                        extend: 'excelHtml5',
                        title: '@Session["ReportTitle"]'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: '@Session["ReportTitle"]'
                    }
                ]
            });
        }

    });
</script>

<script type="text/javascript">
     am4core.ready(function () {
            am4core.useTheme(am4themes_animated);
            var jsonObj = @Html.Raw(ViewData["amChartData"]);
            var chart = am4core.create("chartContainer2", am4charts.XYChart);
            chart.paddingLeft = 30;
            let title = chart.titles.create();
            title.text = "All Pumps Working Today";
            title.fontSize = 25;
            title.marginBottom = 10;
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.baseInterval = {
                "timeUnit": "minute",
                "count": 1
            };
            dateAxis.dateFormats.setKey('hour', 'hh:mm a');
            dateAxis.tooltipDateFormat = " d-MM-yyyy hh:mm:ss a";
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.tooltip.disabled = true;
            valueAxis.renderer.labels.template.disabled = true;
            //valueAxis.min = -0.2;
            //valueAxis.max = 1.2;

            if (jsonObj.SpellDataArray.length === 0) { }
            else
            {
                var series1 = chart.series.push(new am4charts.LineSeries());
                var series2 = chart.series.push(new am4charts.LineSeries());
                var data1 = [];
                var data2 = [];
                //console.log(jsonObj[j].locationName);
                for (var i = 0; i < jsonObj.SpellTimeArray.length; i++) {
                    var Thedate = jsonObj.SpellTimeArray[i];
                    //alert(Thedate);
                    var changeDate = moment(Thedate, 'DD/MM/YYYY HH:mm:ss A').format("MM/DD/YYYY HH:mm:ss");
                    var dateObj = new Date((changeDate));
                    var valuep1 = jsonObj.SpellDataArray[i];
                    var valuep2 = jsonObj.SpellDataArray2[i];

                    var location = "Pattoki Water Filtration Plant";

                    if (jsonObj.SpellDataArray[i] == 0) {
                        data1.push({ location1: location, paramameter: 'Pump No. 1 Status', date1: dateObj, value1: valuep1, status1: 'OFF' });
                    }
                    else {
                        data1.push({ location1: location, paramameter: 'Pump No. 1 Status', date1: dateObj, value1: valuep1, status1: 'ON' });
                    }

                    if (jsonObj.SpellDataArray2[i] == 0) {
                        data2.push({ location2: location, paramameter: 'Pump No. 2 Status', date2: dateObj, value2: valuep2, status2: 'OFF' });
                    }
                    else {
                        data2.push({ location2: location, paramameter: 'Pump No. 2 Status', date2: dateObj, value2: valuep2, status2: 'ON' });
                    }
                }
                series1.data = data1;
                series1.dataFields.dateX = "date1";
                series1.dataFields.valueY = "value1";
                series1.dataFields.status1 = "status1";
                series1.dataFields.location = "location1";
                series1.tooltipText = " Pump No. 1 Status: [bold]{status1}[/] ";
                series1.name = 'Pump No. 1';
                series1.fillOpacity = 0.3;


                series2.data = data2;
                series2.dataFields.dateX = "date2";
                series2.dataFields.valueY = "value2";
                series2.dataFields.status2 = "status2";
                series2.dataFields.location = "location2";
                series2.tooltipText = " Pump No. 2 Status: [bold]{status2}[/] ";
                series2.name = 'Pump No. 2';
                series2.fillOpacity = 0.3;


            }
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.lineY.opacity = 0;
            chart.legend = new am4charts.Legend();
        });
</script>

<div class="portlet-title">
    <div class="row" style="opacity:0.9">
        <div class="portlet-body">
            <div class="widget stacked">
                <div class="widget-content">
                    <div>
                        <center>
                            <div id="chartContainer2" style="width: 95%; height: 500px"></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<hr style="margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);" />

<div class="row" style="opacity:0.9">
    <div class="portlet-body">
        <div class="widget stacked" style="margin-top:70px; ">
            <div class="widget-content">
                <div>
                    <center>


                        <table id="tubeWellTable" class="display" style="width:100%">
                            <thead>
                                <tr style="background-color: #a8c9cd;">
                                    <th>Pump No. 1 Status</th>
                                    <th>Pump No. 1 Working Hours</th>
                                    <th>Pump No. 2 Status</th>
                                    <th>Pump No. 2 Working Hours</th>
                                    <th>Voltage</th>
                                    <th>Current</th>
                                    <th>Power Factor</th>
                                    <th>Frequency</th>
                                    <th>Power (KVA)</th>
                                    <th>Power (KVAR)</th>
                                    <th>Power (KW)</th>
                                    <th>Water Flow</th>
                                    <th>Chlorine Level</th>
                                    <th>Tank No. 1 Level</th>
                                    <th>Tank No. 1 Level</th>
                                    <th>TDS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.pumpStatus1.Count == 0)
                                        {
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            if (item.pumpStatus1.FirstOrDefault() == 0)
                                            {
                                                <td>OFF</td>
                                            }
                                            else
                                            {
                                                <td>ON</td>
                                            }
                                            <td>@item.workingHoursTodayP1</td>
                                            if (item.pumpStatus2.FirstOrDefault() == 0)
                                            {
                                                <td>OFF</td>
                                            }
                                            else
                                            {
                                                <td>ON</td>
                                            }
                                            <td>@item.workingHoursTodayP2</td>
                                            <td>@Math.Round(item.Voltage.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.Current.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.PF.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.FreqHz.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.PKVA.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.PKVAR.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.PKW.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.waterFlow.FirstOrDefault(), 2)</td>
                                            if (item.ChlorineLevel.FirstOrDefault() == 0)
                                            {
                                                <td>LOW</td>
                                            }
                                            else
                                            {
                                                <td>FULL</td>
                                            }
                                            <td>@Math.Round(item.TankLevel1ft.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.TankLevel2ft.FirstOrDefault(), 2)</td>
                                            <td>@Math.Round(item.TDS.FirstOrDefault(), 2)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </center>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <section class="scripts">

        <script type="text/javascript">
            window.onload = function () {

                am4core.ready(function () {

                });
            }
        </script>
    </section>
}
