@model WASA_EMS.Models.tblResourceRangeSelector

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblResourceRangeSelector</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParameterID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParameterID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MinRange)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MinRange)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaxRange)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaxRange)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompanyID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompanyID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblResource.MobileNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblResource.MobileNumber)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RangeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
